body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: .813rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: #fff;
}

.nav-bar {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.menu-toggle {
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    left: 250px; /* Set to 250px for the open state */
    transition: left 0.3s;
}

.userPic {
    right: 1.5rem;
    font-size: 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

#username {
    display: none;
}

.user-dropdown {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    right: 0;
    top: 50px;
    z-index: 1000;
    font-size: small;
}

.user-dropdown a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
}

.user-dropdown a:hover {
    background-color: #f1f1f1;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: #5A27E7;
}

.sidebar {
    height: 100%;
    width: 150px;
    position: fixed;
    top: 0;
    left: 0; /* Set to 0 for the open state */
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    transition: left 0.3s;
    overflow-x: hidden;
    padding-top: 20px;
    border-right: 1px solid #ccc;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px 20px;
    text-align: left;
}

.sidebar ul li a {
    text-decoration: none;
    color: #000;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #f1f1f1;
}

.content {
    margin-left: 250px; /* Set to 250px for the open state */
    padding: 20px;
    transition: margin-left 0.3s;
}

@media (min-width: 768px) {
    .content {
        margin-left: 250px;
    }
}

.sidebar.active {
    left: -250px; /* Move to -250px when toggled */
}

.menu-toggle.active {
    left: 5rem; /* Move to 5rem when toggled */
}

.content.active {
    margin-left: 0; /* Move content to 0 when toggled */
}

.logo {
    /* Adjust the width and height as needed */
    width: 50px;
    height: 50px;
}

.logo-img {
    width: 100%;
    height: auto;
}
